extends layouts/_default

block content
	section
		h3 Hello, very wonderful world!
		p Here is some text
		p.
			Here we have a lot of
			text and many words to say
			something about the world...

	section
		p.lead Must be many things to consider
		ul
			li Automate!
			li#important Parametrize!
			li Reuse!
			li Enjoy
			li Why not?
		p I am making progress!
			strong Definitely!

		img(src="images/Cool.png")

	section
		p
			|CoffeeScript
			|is a <em>pleasure</em>
			|!

		h2 What can we do next?
		p= 'Explore <div>'

		button(onclick="myFunction()") Try it!
